.room_head
{
	float:left;
	padding:0 10px;
	text-align:center
}
.room_head a
{
	color:#FFF;
	font-size:15px;
	text-shadow:0 -1px 1px rgba(0,0,0,.6)
}
	#sticky_nav
{
	position:static;
	width:100%;
	z-index:998
}
.citieswrap{
	top: -3px;
}
.breadcrumb
{
	background-color:#F9F9F9;
	border:1px solid #D0D0D0;
	border-radius:3px;
	border-bottom:1px solid #6C7476;
	box-shadow:0 3px 3px -2px rgba(0,0,0,.1) inset,0 -3px 3px -2px rgba(0,0,0,.1) inset;
	padding-left:15px;
	padding-right:15px
}
.blue.breadcrumb
{
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	-moz-border-right-colors:none;
	-moz-border-top-colors:none;
	background:-moz-linear-gradient(center top,#899294,#6C7476);
	background:-webkit-gradient(linear,center top,center bottom,from(#899294),to(#6C7476));
	border-color:-moz-use-text-color -moz-use-text-color #6C7476;
	border-image:none;
	border-radius:0;
	border-style:none none solid;
	border-width:medium medium 1px;
	box-shadow:0 1px 5px rgba(0,0,0,.4);
	/*height:37px;*/
	z-index:-1px;
	padding:0px;
	margin-bottom: 0px;
}
#sticky_nav .container
{
	position:relative;
}
.crumbs:after
{
	clear:both
}
.crumbs:after,.crumbs:before
{
	content:"";
	display:table
}
.crumbs
{
	display:block;
	float:left;
	list-style:none;
	margin:0
}
.blue.breadcrumb .crumbs>li
{
	height:auto;
	position:relative
}
.crumbs>li
{
	float:left;
	font-weight:700;
	height:33px;
	line-height:33px
}
.blue.breadcrumb .crumbs>li>a
{
	border-left:1px solid #858e91;
	border-right:1px solid #545a5b;
	color:#FFF;
	display:block;
	font-size:13px;
	line-height:33px;
	padding:2px 6px;
	text-shadow:0 1px 0 rgba(0,0,0,.4);
	z-index:1101;
	
}
.crumbs>li a
{
	color:#393C3D
}
.crumbs .pip
{
	background:-moz-linear-gradient(center top,#FF009C,#CC007D);
	border:2px solid #FFF;
	border-radius:20px;
	color:#FFF;
	font-size:11px;
	padding:0 5px 1px;
	position:relative
}
.imgheig{
	height:764px!important;
}
.text{
	margin-top:2%;
    font-size:18px;
}
.text1{
	margin-top:3%;
    font-size:18px;
}
.crumbs.right
{
	float:right
}
.blue.breadcrumb .crumbs
{
	border-left:1px solid #545a5b;
	border-right:1px solid #858e91;
	/*text-transform:capitalize;*/
}
.citieslink{
	text-decoration: none;
}
.crumbs.right li a
{
	float:left
}
.saved_neighbor
{
	background:-moz-linear-gradient(center top,#007a87,#007a87);
	background:-webkit-linear-gradient(top,#007a87,#007a87);
	border:2px solid #FFF;
	border-radius:20px;
	color:#FFF;
	font-size:11px;
	padding:0 5px 1px;
	position:relative;
	margin-left:10px
}
.city.hero.minimal_1
{
	background-attachment:fixed;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url(images/Banner6.jpg);
	background-size:cover;
	min-height:500px;
	position:relative
}
.city.hero.minimal_1>img
{
	position:relative;
	width:100%;
	z-index:-1;
	display:none
}
.city
{
	line-height:1.35;
	margin-bottom:6px;
	position:relative
}
ul.city-tiles li a:hover
{
	background:rgba(0,0,0,.3)
}
	ul.city-tiles li a
{
	background:rgba(0,0,0,.2);
	color:#fff;
	display:block;
	font-weight:700;
	height:100%;
	position:relative;
	text-align:center;
	text-decoration:none;
	width:100%
}
.city>a
{
	color:#FFF;
	font-size:23px;
	font-weight:700;
	text-shadow:1px 1px 2px rgba(0,0,0,.5);
	text-align:left
}
.city>a:hover
{
	color:#FF3FB4;
	text-decoration:none
}
.city.hero .overlay
{
	top:70px;

}
.city.hero .title
{
	background:none;
	text-align:center;
	z-index:20;
	width:100%;
}
.city.hero .citytitle{
	padding: 105px 4px 0 0;
}
.hero .title
{
	background:-moz-linear-gradient(center top,transparent,rgba(0,0,0,.8))
}
.title.overlay h1
{
	text-shadow:0 1px 7px #000;
    font-size:64px!important;
	text-transform:capitalize;
}
.title.overlay h2
{
	color:#FFF;
	font-size:23px;
	font-weight:700;
	line-height:1.5em;
	margin:0 auto 15px;
	text-shadow:0 0 12px rgba(0,0,0,.85);
	word-wrap:break-word
}
.title.overlay
{
	top:8%!important
}
.title
{
	font-size:12px;
	font-weight:700;
	padding:0 0 0 6px;
}
.title-overview
{
	float:left;
	width:26%;
	padding-left:13px;
	padding-right:13px
}
.hero .title h1
{
	color:#FFF;
	margin:0;
	text-shadow:0 1px 8px rgba(0,0,0,.5)
}
.city.hero h1
{
	font-size:44px;
	text-shadow:0 1px 7px #000
}
h1.shiftbold
{
	font-size:40px;
	margin-bottom:16px
}
#shift1{
	font-size: 40px!important;
	margin-top:-68px;
	position:absolute;
}
h1.shift2{
	text-align:left; 
	font-size:55px !important;
}
.shift3{
	 text-align:left; 
	 margin-bottom:30px;
}
.community{
	font-size:15px; 
	margin-bottom:10px; 
	margin-top: 10px; 
	text-align:left;
}
.notags{
	font-size:13px; 
	margin-bottom:10px; 
	text-align:left;
}
.suggest1{
	float:left; 
	font-size:12px; 
	margin-top:7px;
	text-transform: lowercase;
}
.map2{
	margin-top:25px; 
	padding: 25px; 
	margin-bottom:6%;
}
.map3{
	width:100%; 
	height:350px;
}
.map4{
	width:100%; 
	height:350px;
}
.map5{
	margin-top:15%;
	margin-bottom:6%;
}
.paddingzero{
/*	padding: 0;*/
}
.negsect1{
	margin-top:5% !important;
}
.negsect2{
	margin-top:0;
}
.prim1{
	width: 75%;
}
.feature2{
	padding: 0;
	margin: 0;
}
.feature3{
	float: left;
}
.photo1{
	margin: 25px 0;
}
.popstay{
	clear:both; 
	margin-top:6%; 
	margin-bottom:6%; 
	padding-bottom:2%;
}
.neighcity{
	margin-top:15px;
}
.more1{
	margin-top:-1px!important;
	margin-bottom:0px;
	float:left;
}
.place1{
	padding:0 0 35px;
}
.noneigh{
	text-align:left;
}
.modal1{
	text-align:left;
	over-flow: heiddtn;
}
.textdecnone{
	text-transform:none;
}
.btn.gray
{
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	-moz-border-right-colors:none;
	-moz-border-top-colors:none;
	background-color:#eee;
	background-image:-moz-linear-gradient(center top,#fefefe 0,#eee 100%);
	background-image:-webkit-linear-gradient(top,#fefefe 0,#eee 100%);
	border-color:#d3d3d3 #cfcfcf #c7c7c7;
	border-image:none;
	border-style:solid;
	border-width:1px;
	box-shadow:0 0 .2em rgba(255,255,255,.3) inset,0 0 0 #000;
	color:#393c3d;
	padding:4px 13px!important;
	text-shadow:none;
	border-radius:0px;
	text-transform:uppercase;
	margin-bottom: 5px;
}
.btn.gray:hover {
    background: url("images/link2_bg.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);
    text-decoration: none;
}
.btn_add {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #018fe1;
    background-image: -moz-linear-gradient(center top , #00aeff 0px, #018fe1 100%);
    border-color: #0195eb #0083c7 #0175b8;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 #000;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 0;
    padding: 2px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    vertical-align: middle;
}
.wish_changes{
	margin-right:6px;
}
.btn.large
{
	font-size:15px;
	line-height:normal;
	padding:10px 16px 10px 11px;
	text-decoration:none !important;
}
.lar1{
   text-transform: none;
}
.btn.large.gray
{
	text-transform:none!important;
	padding:8px 13px!important
}
.over{
	cursor: default;
}
.section, section {
padding: 10px 0;
margin: -5px 0 0;
}
.separt{
	padding: 5px 0px !important;
	margin-top: -37px;
}
.citypho{
	padding-bottom: 0px;
}
.citypho1{
	margin-bottom: 19px;
}
.allneigh{
	margin: 35px 0 0px;
}
.section-offset
{
	background: none repeat scroll 0 0 #efefef;
    border: 1px solid #dbdbdb;
    overflow: hidden;
    text-align: left;
	/*text-align:left;
	background: #EFEFEF;
    border: 1px solid #DBDBDB;
    overflow: hidden;
    padding-bottom: 30px;
    margin-top: 0;  
    padding-right: 100px; 
    padding-top:0;*/
}
.citydes{
	 margin-top: 0;
    padding-bottom: 30px;
    padding-right: 100px;
    padding-top: 0;
}
.city_map
{
	clear:both
}
.subneigh{
	font-size:18px;
}
.city_map h2
{
	font-size:24px;
	margin:16px 0;
	text-align:left;
	font-weight:bold;
}
.city_map p.lede
{
	font-size:19px;
	line-height:1.5;
	margin-bottom:18px;
	text-align:left;
	width:650px
}
	div#map
{
	position:relative;
	border:1px solid #000
}
.photograpy
{
	font-size:18px;
	color:#333;
	line-height:1.5;
	margin-top:14px;
}
.span12.neighbor_city_first
{
	width:140px
}
.feature
{
	/*margin-right:25px;*/
	/*padding-right:23px;*/
    border:1px solid #7D7D7D;	
    margin-bottom: 30px;

}
.center.caption.caption1.neighbor_city_middle
{
	border-right:1px solid #DBDBDB;
	float:left;
}
.caption.center .primary
{
	float:none;
	margin:0 auto;
}
.caption.center p
{
	line-height:25px;
	font-size:19px;
	padding-bottom: 5px;

}
.container .row .span3
{
	padding-bottom:20px
}
.span3.widget>h5
{
	font-size:13px;
	margin-bottom:10px;
	font-weight:bold;
}
.widget1{
	width:485px;
}
	h3.shiftbold
{
	font-size:22px;
	margin-bottom:16px
}
.shiftbold
{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:17px;
	font-weight:700;
	text-rendering:auto
}
.span_13
{
	font-size:13px
}
.neighbor_widgth
{
	font-size:15px;
	line-height:1.4
}
.neighbor_nolist
{
	font-weight:700;
	text-align:left
}
.recommendations-wrapper
{
	text-align:left
}
#recommendations
{
	margin-bottom:15px
}
	#recommendations h3
{
	font-weight:400
}
.caption.center,.center
{
	text-align:center;
	margin: 10px 0px 0px !important;
}
.center .shiftbold
{
	font-size:21px;
	margin:0 0 16px
}
.center .featitle{
	margin-bottom: 26px; 
	margin-top:7%;
}
.knowthis p
{
	font-family:helvetica Neue;
	font-size:19px;
	line-height:1.5;
	margin:10px 0px 18px;
}
.knowthis h2
{
	font-size:24px;
	margin:16px 0px;
}
.neighborhoods:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	margin-left:-100000px
}
.neighborhoods
{
	clear:both;
	/*margin:0 -22px 0 0;*/
	padding:0
}
.neighborhoods .tile
{
	background:#FFF;
	border:1px solid #CECECE;
	border-radius:2px;
	float:left;
	margin-bottom:14px;
	display: list-item;
    text-align:left;
}
.neighborhoods .tile .photo
{
	position:relative
}
.neighborhoods .tile .photo h3
{
	background:-moz-linear-gradient(center top,transparent,rgba(0,0,0,.8));
	bottom:0;
	line-height:1;
	margin:0;
	position:absolute;
	width:100%
}

.neighborhoods .tile .photo h3 a
{
	color:#FFF;
	display:inline-block;
	padding:12px 14px 10px
}
.neighborhoods .tile .photo>a
{
	display:block
}
.neighborhoods .tile .photo img
{
	display:block;
	height:210px;
	line-height:1;
	width: 100%;

}
.neighborhoods .tile .blurb
{
	padding:14px 14px 6px
}
.neighborhoods .tile p
{
	color:#393C3D;
	font-size:15px;
	line-height:1.3;
	margin-bottom:12px
}
.section h3
{
	margin-bottom:10px
}
.neighborhood-list h4
{
	color:#393C3D;
	font-size:15px;
	font-weight:700;

}
.neighborhood-list .row .span3
{
	margin-left:0;
	width:230px
}
.neighborhood-list .row .span3 a
{
	color:#007a87;
	/*margin-left: 15px;*/
}
.allneigh1{
	margin: 0px 0 35px;
}
.allneigh2{
	font-size: 15px;
}
.allneigh3{
	border-top:2px solid #DBDBDB;
}
.allnehbor{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 38px;
	border-top:2px solid #DBDBDB;
}
.cityblue{
	font-size: 13px;
}
.cities-wrapper
{
	position:relative
}
.cities-wrapper li,.cities-wrapper p
{
	font-size:13px;
	line-height:1.35;
	/*margin-bottom:10px;*/
}
.city.hero.minimal
{
	position:relative
}
.city.hero.minimal>img
{
	position:relative;
	width:100%;
	z-index:-1;
	max-height: 400px;
min-height: 150px;
}
.hero.minimal .overlay
{
	top:0
}
.hero.minimal .title
{
	text-align:left
}
.traits
{
	left: 143px;
    overflow: hidden;
    padding: 0;
    top: 10px;
    z-index: 300;
}
.trait1{
	left: 0 !important;
    margin: 0;
    top: 40px;
    width: 990px;
}
.traits li
{
	display:inline-block;
	font-size:17px;
	float:left;
	line-height:1.35;
	margin:0 8px 11px 0;
	position:relative
}
.traits li.active a
{
	background:-moz-linear-gradient(center top,#018FE1,#00AEFF)
}
.traits li .check
{
	background:rgba(255,255,255,.95);
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0,0,0,.2) inset;
	color:#1575A5;
	display:inline-block;
	height:16px;
	left:12px;
	outline:rgba(0,0,0,.15) solid 1px;
	position:absolute;
	text-shadow:none;
	top:11px;
	width:16px
}
	#neighborhood_tiles.hidden
{
	display:block !important;
}
.trait-neighborhoods
{
	font-size:14px
}
	#neighborhood_tiles .tile:nth-child(3n+1)
{
	clear:both
}
.cities-wrapper .tags
{
	list-style-type:none;
	margin-left:0;
	overflow:hidden
}
.cities-wrapper .tags li
{
	background-color:#D7D7D7;
	border:1px solid #BDBDBD;
	border-radius:2px;
	box-shadow:none;
	color:#393C3D;
	float:left;
	font-size:13px;
	margin:0 8px 8px 0;
	padding:6px 11px;
	text-shadow:0 1px 0 rgba(255,255,255,.5)
}
.tags
{
	overflow:hidden
}
.cities-wrapper .neighborhood-list
{
	/*margin-bottom:20px*/
}
.fixed
{
	position:fixed;
	top:0
}
.container.map.svg
{
	float:left;
	left:0%;
	position:relative;
	bottom:285px;
	z-index:50
}
.neighborhoods_title
{
	background:-moz-linear-gradient(center top,transparent,rgba(0,0,0,.5));
	background:-webkit-linear-gradient(top,transparent,rgba(0,0,0,.5));
	bottom:2px;
	position:absolute;
	width:100%
}
.neighborhoods_title h2
{
	color:#FFF;
	display:inline-block;
	float:left;
	font-size:21px;
	line-height:1.35;
	margin-bottom:10px;
	opacity:.95;
	text-align:left;
	height:100px;
	overflow: auto;
	margin-top:0px;
}
.hero.minimal h1
{
	font-size:40px;
	text-shadow:0 1px 2px rgba(0,0,0,.5)
}
.hero.minimal h1
{
	font-size:40px;
	text-shadow:0 1px 2px rgba(0,0,0,.5)
}
.neighborhoods_section
{
	font-size:24px;
	margin:16px 0
}
.neighborhoods_span8
{
	width:655px;
	padding-right:10px;
	float:left
}
.neighborhoods_span8 p.lede
{
	font-size:19px;
	line-height:1.5;
	margin-bottom:18px;
	text-align:left;
}
	a.cta
{
	font-size:16px;
	padding-left:13px;
	position:relative;
	top:5px;
}
.save-neighborhood-cta
{
	float:left;
	font-size:16px;
	/*margin-top:9px;*/
	padding-left:25px
}
.neighborhoods_span4
{
	width:315px;
	float:left
}
.neighborhoods_span4.sidebar .tags
{
	list-style-type:none;
	margin-left:0;
	overflow:hidden
}
.neighborhoods_span4.sidebar .tags li
{
	background-color:#D7D7D7;
	border:1px solid #BDBDBD;
	border-radius:2px;
	box-shadow:none;
	color:#393C3D;
	float:left;
	font-size:13px;
	margin:0 8px 8px 0;
	padding:6px 11px;
	text-shadow:0 1px 0 rgba(255,255,255,.5)
}
.neig_img{
	padding-bottom: 20px;
}
.nei_submit
{
	padding:4px 13px
}
.neigh{
	position:relative;
}
.neigh1{
	position:absolute; 
	top:40px; 
	left:375px; 
	z-index:989;
	
}
.price_friends {
color: #FFF;
font-size: 25px;
position: relative;
text-shadow: 0 -1px 1px #FFF;
top: -79px;
z-index: 1;
}
.sub friend1{
	display: none;
}
/*.modal
{
	background-clip:padding-box;
	background-color:#FFF;
	background-image:-moz-linear-gradient(center top,rgba(255,255,255,.9) 0,rgba(250,250,250,.9) 100%);
	border:3px solid rgba(0,0,0,.5);
	border-radius:6px;
	box-shadow:0 2px 7px rgba(0,0,0,.1),0 0 0 #000;
	color:#393C3D;
	left:50%;
	margin:-250px 0 0 -280px;
	max-height:500px;
	overflow:auto;
	position:fixed;
	top:50%;
	width:560px;
	z-index:1050
}
.modal-header
{
	background-image:-moz-linear-gradient(center top,#F6F6F6 0,#E5E5E5 100%);
	border-bottom:1px solid #BBB;
	border-radius:5px 5px 0 0;
	padding:9px 15px;
	text-shadow:0 1px 1px #fff
}
.modal-header+.modal-body
{
	border-top:1px solid #fff
}
.modal-body
{
	padding:15px
}
.modal-footer
{
	border-radius:0 0 6px 6px;
	border-top:1px solid #D5D5D5;
	box-shadow:0 1px 0 #FFF inset,0 0 0 #000;
	margin-bottom:0;
	padding:14px 15px 15px;
	clear:both
}
.modal-footer .btn
{
	float:right;
	margin-bottom:0;
	margin-left:10px
}
.modal-footer:after
{
	clear:both
}
.modal-footer:after,.modal-footer:before
{
	content:"";
	display:table
}*/
.js-feedback-body.span6
{
	margin-bottom:10px;
	margin-left:0;
	margin-top:5px;
	width:475px
}
.seeplace
{
	float:left;
	padding:10px 55px;
	text-decoration:none
}
.seeplace:hover
{
	background-image:-moz-linear-gradient(center top,#eb3c44 0,#eb3c44 100%);
	background-image:-webkit-linear-gradient(top,#eb3c44 0,#eb3c44 100%);
	color:#FFF;
	text-decoration:none
}
.see_more
{
	background:-moz-linear-gradient(center top,#00aeff 0,#018fe1 100%);
	background:-webkit-linear-gradient(top,#00aeff 0,#018fe1 100%);
	border-radius:6px;
	color:#FFF;
	display:inline-block;
	font-size:15px;
	padding:10px 45px;
	margin-bottom:20px;
	margin-top:20px;
	margin-right:15px;
	text-decoration:none
}
.see_more:hover
{
	background:-moz-linear-gradient(center top,#018fe1 0,#00aeff 100%);
	background:-webkit-linear-gradient(top,#018fe1 0,#00aeff 100%);
	color:#FFF;
	text-decoration:none
}
.caption_neighborhoods
{
	background:url(../../../images/left-quotation.png) no-repeat;
	text-align:left;
	min-height:90px;
	padding:7px 35px 0 50px;
	font-weight:400
}
.view.neighbor_city_last
{
	float:left;
	margin-left:15px;
	text-align:left;
	width:130px
}
.neighborhoods_user
{
	font-size:21px;
	font-weight:700;
	line-height:1.5
}
.neighbor_views
{
	color:#EB3C44;
	font-size:13px;
	font-weight:700
}
	div#crosshair
{
	position:absolute;
	top:192px;
	height:19px;
	width:19px;
	left:50%;
	margin-left:-8px;
	display:block;
	background:url(crosshair.gif) center center no-repeat
}
.neighborhood_popular
{
	font-size:24px;
	margin:0% 0 0
}
.caption p
{
	padding-bottom:20px
}
.feature_city {
padding-right: 23px;
}
.main_neighborhood
{
	/*width:980px*/
}
.knowthis
{
	padding:2% 0
}
  .btn_dash_green
  {
  	display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background:#747474;
   font-size: 14px;
    border: none;
    font-weight: 400;
    line-height: 1.42857;
    text-transform:uppercase;
    margin-bottom: 0;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 8px 12px;
    font-weight:bold;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  color:#FFFFFF;
  overflow: hidden;
  border-radius:0px;
  }
  .btn_dash_green:before 
{ content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  color:#FFFFFF;
  top: 0;
  background: #989898;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  }
  .Chang_To > a:hover:before,.btn_dash:hover:before, .btn_dash:focus:before, .btn_dash:active:before,.btn_dash_green:hover:before, .btn_dash_green:focus:before, .btn_dash_green:active:before {
  right: 0;
  left:0;
}
.btn_dash:hover,.btn_dash_green:hover,.Chang_To > a:hover
{
	color:#FFFFFF;
	opacity:0.84;
	text-decoration:none;
}
 .span3 {
display: inline;
float: left;
margin-left: 50px;
}
.btn_list
{
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
   border:none;
   border-radius:0px !important;
  background:#007a87 !important;
   font-size: 13px;
    font-weight: 400;
    line-height: 1.42857;
    text-transform:uppercase;
    margin-bottom: 0;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 8px 12px;
    font-weight:bold;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  color:#FFFFFF;
  overflow: hidden;
}
#main_content .neighbourhoods {
position: absolute;
top: 30%;
left: 0px;
right: 0px;
transform: translateY(-50%);
z-index: 989;
text-align:center;
}
#trait_selector input{
	position:relative;
	top:2px;
}
.btn_list:hover:before, .btn_list:focus:before, .btn_list:active:before,.btn_list_green:hover:before, .btn_list_green:focus:before, .btn_list_green:active:before {
  right: 0;
  left:0;
}
.btn_list:hover,.btn_list_green:hover
{
	color:#FFFFFF;
	opacity:0.84;
	text-decoration:none;
}
.btn_list:before 
{ content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  color:#FFFFFF;
  top: 0;
  background: #63a888;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  }
 .finish{
 	text-transform: none !important;
 }
 .featurecity{
 	margin-right:10px;
 }
  .featurecity1{
 	margin-right:11px;
 	margin-left:11px;
 }
  .featurecity2{
 	margin-left:10px;
 }
.admin{
	margin-top: 23px;
}
.seeplace1{
	margin-left:15px;
}
.row_similar{
	margin-left: 2px !important;
	
}
.allnei_link{
	margin-left:16px !important;
}
.marg_zero{
	margin:0 0 0px;
}
.banner-img {
    width: 100% !important;
}
.neg_sect{
 font-weight:bold;
}
.neig-photo{
font-size: 20px;
font-weight: bold;
}
@media (min-width: 993px){
	.cityname.col-md-3{width:23% !important;}
	.neighborhoods .tile{margin-right:10px;}}
		@media (min-width: 768px) and (max-width:991px){
		.cityname.col-md-3{width:23% !important;}
	.neighborhoods .tile{margin-right:10px;}}
@media (min-width:992px) and (max-width:1199px){	
	.container.map.svg{left:24px !important;bottom:370px !important;}}
@media (min-width:1200px) and (max-width:1300px){	
	.container.map.svg{left:10% !important;bottom:370px !important;}}
@media (min-width:1300px){	
	.container.map.svg{left:13% !important;bottom:440px !important;}}
@media (min-width: 300px) and (max-width: 767px){
	
}